.auto-data-grid-content {
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100%;
    gap: 8px;
}

.auto-data-grid-area {
    grid-row: 1;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 0;
}

.auto-data-grid-area td.empty-content-row.empty-content-cell {
    border: 0;
}

.auto-data-grid-area .selected-row {
    background-color: var(--neutral-fill-secondary-rest);
    border-color: var(--accent-fill-rest);
}

.auto-data-grid-area .selected-row:hover {
    background-color: var(--neutral-fill-secondary-hover);
}

.auto-data-grid-infos-area fluent-toolbar {
    width: 100%;
}

.auto-data-grid-infos-area fluent-divider {
    height: var(--type-ramp-base-line-height);
}