# Root EditorConfig file for Askyl.Dsm.WebHosting
# See https://docs.microsoft.com/dotnet/fundamentals/code-analysis/configuration-options

is_root = true

# Global settings for all files in the repository
[*]
charset = utf-8-with-bom
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4
tab_width = 4

# C# specific settings - moved to src/.editorconfig for better organization
[*.cs]
indent_size = 4
tab_width = 4

# Note: All C# code style rules have been moved to src/.editorconfig
# This file only contains global repository-wide settings
