@using System.Reflection
@inherits LayoutComponentBase

<FluentMainLayout class="full-size">
    <Header>
        .NET Web Hosting @Assembly.GetExecutingAssembly().GetName().Version
    </Header>

    <Body>
        <div class="flex-column-container">
            @Body
        </div>
    </Body>
</FluentMainLayout>

<div id="blazor-error-ui" data-nosnippet>
    <FluentHeader>
        An unhandled error has occurred.
        <FluentSpacer />
        <a href="." class="reload">
            <FluentIcon Value="@(new Icons.Regular.Size32.ArrowCounterclockwise().WithColor(Color.Error))" />
        </a>
        <span class="dismiss">
            <FluentIcon Value="@(new Icons.Regular.Size32.DismissCircle().WithColor(Color.Error))" />
        </span>
    </FluentHeader>
</div>

<FluentToastProvider />
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />
<FluentMenuProvider />