@page "/"
@using System.Text.Json
@using Askyl.Dsm.WebHosting.Constants
@using Askyl.Dsm.WebHosting.Data.API.Definitions
@using Askyl.Dsm.WebHosting.Data.API.Parameters
@using Askyl.Dsm.WebHosting.Data.API.Parameters.ReverseProxyAPI
@using Askyl.Dsm.WebHosting.Data.API.Responses
@using Askyl.Dsm.WebHosting.Tools.Network

@inject IDialogService DialogsService
@inject DsmApiClient client
@inject NavigationManager navigation

<PageTitle>ADWH - Home</PageTitle>

<FluentToolbar >
    <FluentButton OnClick="CallReverseList">List</FluentButton>
    <FluentButton OnClick="CallReverseCreate">Create</FluentButton>
    <FluentButton OnClick="CallReverseUpdate">Update</FluentButton>
    <FluentTextField @bind-Value="Uuid" Style="width:auto;" autofocus />
    <FluentButton OnClick="CallReverseDelete">Delete</FluentButton>
</FluentToolbar>
<br />
<h2>Existing reverse proxies</h2>
<div>
    @if (proxies is not null)
    {
        foreach (var proxy in proxies)
        {
                    <div>@JsonSerializer.Serialize(proxy)</div>
                    <br />
        }
    }
</div>

<FluentOverlay @bind-Visible="@IsWorking" Opacity="0.2">
    <FluentProgressRing />
</FluentOverlay>

@code
{
    private bool IsWorking { get; set; } = false;
    private List<ReverseProxy>? proxies{ get; set; }
    private string? Uuid { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (!client.IsConnected)
        {
            navigation.NavigateTo("/login");
            return;
        }

        await CallReverseList();
    }

    private async Task CallReverseList()
    {
        var parameters = new ReverseProxyListParameters(client.ApiInformations);
        var list = await client.ExecuteAsync<ReverseProxyListResponse>(parameters);
        proxies = list?.Data?.Entries;
    }

    private async Task CallReverseCreate()
    {
        var parameters = new ReverseProxyCreateParameters(client.ApiInformations);
        var entry = parameters.Parameters;

        entry.Description = "test-name";
        entry.Frontend = new() { Fqdn = "test-hostname", Port = 80, Protocol = 0 };
        entry.Backend = new() { Fqdn = "test-target-name", Port = 80, Protocol = 0 };

        await CallAPI(parameters);
    }

    private async Task CallReverseUpdate()
    {
        if (proxies is null || proxies.Count == 0)
        {
            await DialogsService.ShowErrorAsync($"No proxy available.");
            return;
        }

        var parameters = new ReverseProxyUpdateParameters(client.ApiInformations, proxies[0]);
        var entry = parameters.Parameters;

        entry.Description += "-updated";

        await CallAPI(parameters);
    }

    private async Task CallReverseDelete()
    {
        if (String.IsNullOrWhiteSpace(Uuid) || !Guid.TryParse(Uuid, out var id))
        {
            await DialogsService.ShowErrorAsync($"Invalid UUID.");
            return;
        }

        var parameters = new ReverseProxyDeleteParameters(client.ApiInformations);
        parameters.Parameters.Add(id);

        if(await CallAPI(parameters))
        {
            Uuid = "";
        }
    }

    private async Task<bool> CallAPI(IApiParameters parameters)
    {
        if (IsWorking) return false;

        IsWorking = true;

        try
        {
            var response = await client.ExecuteAsync<ApiGenericResponse>(parameters);

            if (response == null || !response.Success)
            {
                await DialogsService.ShowErrorAsync($"Code = {response?.Error?.Code}, Reason = {response?.Error?.Errors?.Reason}, Index = [{String.Join(", ", response?.Error?.Errors?.Index ?? [])}]");
                return false;
            }

            await CallReverseList();
            return true;
        }
        finally
        {
            IsWorking = false;
        }
    }
}
