@page "/"
@using System.Text.Json
@using Askyl.Dsm.WebHosting.Constants
@using Askyl.Dsm.WebHosting.Data.API.Definitions
@using Askyl.Dsm.WebHosting.Data.API.Parameters
@using Askyl.Dsm.WebHosting.Data.API.Parameters.ReverseProxyAPI
@using Askyl.Dsm.WebHosting.Data.API.Responses
@using Askyl.Dsm.WebHosting.Tools.Network

@inject DsmApiClient client
@inject NavigationManager navigation

<PageTitle>ADWH - Home</PageTitle>

<FluentButton OnClick="CallReverseList">List</FluentButton>

<div>
    @if (proxies is not null)
    {
        foreach (var proxy in proxies)
        {
            <div>@JsonSerializer.Serialize(proxy)</div>
            <br />
        }
    }
</div>

@code
{
    private List<ReverseProxy>? proxies;

    protected override void OnInitialized()
    {
        if (!client.IsConnected)
        {
            navigation.NavigateTo("/login");
        }
    }

    private async Task CallReverseList()
    {
        var parameters = new ReverseProxyListParameters(client.ApiInformations);
        var list = await client.ExecuteAsync<ReverseProxyListResponse>(parameters);
        proxies = list?.Data?.Entries;
    }
}

